<h1>Summary of the consultation </h1>
  <p>
    Translated version<br>
  </p>

<pre>
<%= @transla %>
</pre>

 <p>
    Original version<br>
  </p>

<pre>
<%= @trans %>
</pre>

<pre>
<%= @def %>
</pre>
