<h1>Welcome to Babel</h1>



<%= image_tag "babel.png",  width: "21%", class: "mx-auto d-block", :alt => "avatar" %>





<div class="form-row text-center">
    <div class="col-12">

    	<a href="/records/listen" class="btn btn-info btn-md">Start recording</a>

		
    </div>
 </div>
