<title lang="en">Homepage</title>

<head>
	<h1 style="font-family:'Lobster',cursive;">Welcome to Babel</h1>
	  <style>

.responsive {
  max-width: 100%;
  height: auto;
}

 head {
      font-family:'Lobster',cursive;

      font-size:48px;
     }
</style>
</head>





<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">



<div style="width:21%;height:auto;margin-left:auto;margin-right:auto;">

	<%= image_tag "babel.png", class: "mx-auto d-block responsive", :alt => "Babel tower" %>


</div>




<div class="form-row text-center">
    <div class="col-12">

    	<a href="/records/listen" class="btn btn-info btn-md">Start recording</a>

		
    </div>
 </div>
