
<h1 lang="en", style="font-family: 'Lobster', cursive;">Welcome to Babel</h1>


<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">


<div>
  <style scoped>
 head {
      font-family: 'Lobster', cursive;

      font-size: 48px;
     }
</style>
</div>

<div style="width:21%; height:auto; margin-left: auto;margin-right: auto;">

	<%= image_tag "babel.png", class: "mx-auto d-block img-fluid", :alt => "Babel tower" %>


</div>




<div class="form-row text-center">
    <div class="col-12">

    	<a href="/records/listen" class="btn btn-info btn-md">Start recording</a>

		
    </div>
 </div>
